*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

main {
    padding: 15rem;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.6rem;
}

img {
    height: 30rem;
}