*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.edit {
    padding: 10rem;
    display: flex;

}

input {
    height: 1rem;
    width: 4rem;
}