*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

html,
body {
    height: 100%; /* Ensure the HTML and body occupy full viewport height */
}

main {
    min-height: 100vh; /* Full viewport height for centering */
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

input {
    padding: 1rem;
    height: 4rem;
    width: 40rem;
    font-size: 1.4rem;
}

input[type="submit"] {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
    background-color: #6dcff6;
    color: black;
}
