*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;
}

.main {
    padding: 15rem;
}

.projects-coll {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.projects__list {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}

.projects__new {
    color: red;
    font-size: 20px;
    text-decoration: none;
}

.projects__project {
    box-shadow: 4px 4px 16px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 35rem;
    position: relative;
    border-radius: 20px;
}

.projects__project--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__data {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 2rem;
}

.projects__project--link {
    font-size: 3rem;
    text-decoration: none;
    position: absolute;
    color: white;
}

.project__date {
    position: relative;
    font-size: 2.4rem;
    color: white;
    margin-top: 28rem;
}

@media screen and (max-width: 1500px) {
    .projects__project {
        width: 30rem;
        height: 30rem;
    }

    .project__date {
        margin-top: 24rem;
    }
}

@media screen and (max-width: 1100px) {
    .projects__project {
        width: 25rem;
        height: 25rem;
    }

    .project__date {
        font-size: 2rem;
        margin-top: 20rem;
    }
}

@media screen and (max-width: 850px) {
    main {
        padding: 10rem;
    }

    .projects__project {
        width: 30rem;
        height: 30rem;
    }
}